.recipes {
  display: flex;
  flex-direction: column;
}
.recipes__title {
  max-width: 580px;
  margin-top: 100px;
  margin-left: 80px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #ffffff;
}
.recipes__subtitle {
  max-width: 438px;
  margin-top: 24px;
  margin-left: 80px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}
.recipes__videos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 80px;
}
.recipes__item:first-child {
  margin-right: 40px;
}

.recipes__caption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 24px;
  margin-bottom: 215px;
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
